@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apercu Regular";
  src: url("/fonts/apercu_regular_pro") format("opentype");
}

@font-face {
  font-family: "Apercu Medium";
  src: url("/fonts/apercu_medium_pro") format("opentype");
}

@font-face {
  font-family: "Apercu Bold";
  src: url("/fonts/apercu_bold_pro") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background-img {
  background-position: center calc(100% - 0rem);
}

.socials {
  @apply text-white bg-[#3E3E3E] rounded-full p-[0.4rem];
}
